<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body style="background-color: rgb(234, 242, 255)">
    <%- include("./partials/navbar.ejs") %>

    <div class="container">
      <div
        class="shadow pr-5 pl-5 pb-5 feedContainer"
        style="background-color: rgb(255, 255, 255)"
      >
        <form class="redactTweet pt-3" method="POST" action="/home">
          <div class="form-group">
            <label for="content"></label>
            <textarea
              class="form-control"
              id="content"
              rows="3"
              name="content"
              placeholder="Whats happening?"
              required=""
              data-parsley-require-message="Por favor ingrese un texto"
              maxlength="140"
              data-parsley-maxlength-message="Su tweet excede los 140 caracteres"
            ></textarea>
          </div>
          <button
            type="submit"
            class="btn btn-primary rounded-pill tweetButton"
          >
            Tweet
          </button>
        </form>

        <% for(let j = 0; j < tweets.length; j++) { %>
        <hr />
        <%- include('./partials/tweet.ejs', {user:tweets[j].author, tweets:
        tweets[j], ownTweet: false}) %> <% } %>
      </div>
    </div>
    <footer><%- include('./partials/scripts.ejs'); %></footer>
  </body>
</html>
