<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs'); %>
  </head>
  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
          <form
            class="login100-form validate-form"
            action="/login"
            method="POST"
            class=""
            data-parsley-validate=""
          >
            <span class="login100-form-title p-b-55"> Login </span>

            <div
              class="wrap-input100 validate-input m-b-16"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input
                class="input100 rounded-pill"
                type="text"
                name="email"
                placeholder="Ingrese su email o usuario"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <span class="lnr lnr-envelope"></span>
              </span>
            </div>

            <div
              class="wrap-input100 validate-input m-b-16"
              data-validate="Password is required"
            >
              <input
                class="input100 rounded-pill"
                type="password"
                name="password"
                placeholder="Password"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <span class="lnr lnr-lock"></span>
              </span>
            </div>

            <div class="container-login100-form-btn p-t-25">
              <button type="submit" class="login100-form-btn rounded-pill">
                Inicia sesion
              </button>
            </div>

            <!--   <div class="text-center w-full p-t-42 p-b-22">
              <span class="txt1"> Inicia sesion con </span>
            </div>

            <a href="/auth/facebook" class="btn-face m-b-10">
              <i class="fa fa-facebook-official"></i>
              Facebook
            </a>

            <a href="#" class="btn-google m-b-10">
              <img src="images/icons/icon-google.png" alt="GOOGLE" />
              Google
            </a> -->

            <div class="text-center w-full p-t-115">
              <span class="txt1"> ¿No estas registrado? </span>

              <a class="txt1 bo1 hov1" href="/register"> Registrate ahora </a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <%- include('./partials/scripts.ejs'); %>
  </body>
</html>
