<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs'); %>
  </head>
  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
          <form
            class="login100-form validate-form"
            action="/login"
            method="POST"
            class=""
            data-parsley-validate=""
          >
            <span class="welcome100-form-title">
              Bienvenido a
              <p class="twitter">
                <span class="fakeTwitter-welcome">fake</span> Twitter
              </p>
            </span>
            <span class="welcome100-form-title pt-5 pb-3">
              Únete hoy mismo.
            </span>

            <div class="container-login100-form-btn p-t-25">
              <button type="button" class="login100-form-btn rounded-pill">
                <a href="/register" style="color: white">Regístrate</a>
              </button>
            </div>

            <div class="container-login100-form-btn p-t-25">
              <button type="button" class="login100-form-btn rounded-pill mb-5">
                <a href="/login" style="color: white"> Iniciar sesión</a>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <%- include('./partials/scripts.ejs'); %>
  </body>
</html>
